.specialization-container{
    padding: 0px 25px;
    align-items: last baseline;
}

.name-user-specialization-container {
    display: flex;
    align-items: center;
    margin: 0 0 auto 0;
}

.name-user-specialization-container h5 {
    font-size: 27px;
}

.specialization-content-container p{
    font-weight: normal;
    font-size: 15px;
    margin: 0px;
}

.minha-foto{
    margin-left: 45px;
}

.minha-foto svg{
    height: 200px;
}

@media (min-width: 375px){
    .name-user-specialization-container {
        margin: 0 0 auto 30px;
    }
}

@media (min-width: 425px){

    .name-user-specialization-container {
        margin: 0 0 auto 50px;
    }

    .specialization-content-container p{
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .specialization-container{
        padding: 5px 30px 0px 30px;
    }

    .name-user-specialization-container {
        justify-content: right;
    }

    .minha-foto svg{
        height: 300px;
    }

    .name-user-specialization-container h5{
        font-size: 40px;
    }

    .specialization-content-container p{
        font-size: 20px;
    }
}

@media (min-width: 1024px){

    .specialization-container{
        padding: 5px 50px 0px 50px;
    }

    .name-user-specialization-container h5{
        font-size: 50px;
    }

    .specialization-content-container h6{
        font-size: 28px;
    }

    .specialization-content-container p{
        font-size: 24px;
    }
}

@media (min-width: 1440px) {

    .specialization-container{
        padding: 5px 70px 0px 70px;
    }

    .specialization-content-container p{
        font-size: 26px;
    }
}

@media (min-width: 2000px) {

    .specialization-container{
        padding: 5px 80px 0px 80px;
    }

    .minha-foto svg{
        height: 500px;
    }

    .name-user-specialization-container h5{
        font-size: 80px;
    }

    .specialization-content-container h6{
        font-size: 48px;
    }

    .specialization-content-container p{
        font-size: 40px;
    }
}