.profile-container{
    margin-top: 150px;
    position: relative;
}

.caixa-projeto-container{
    position: absolute;
    top: 250px;
    left: 100px;
    width: 250px;
    height: 400px;
    background-color: rgb(1, 0, 26);
    border-radius: 3%;
}

.titulo-container{
    position: absolute;
    top: 50px;
    left: 580px;
}

.titulo-container h1{
    font-size: 100px;
}

.caixa-dois{
    left: 420px;
}

.caixa-tres{
    left: 730px;
}

.caixa-quatro{
    left: 1050px;
}

.nebulosa-container svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-profile-container{
    position: absolute;
    top: 248px;
    width: 100%;
    height: 55%;
}

.projeto-container{
    position: absolute;
    width: 250px;
    height: 390px;
    left: 100px;
    top: 10px;
    text-align: center;
}

.projeto-container img {
    margin-top: 10px;
    width: 95%;
}

.projeto-container h5 {
    margin-top: 20px;
    font-size: 40px;
}

.projeto-container p{
    margin-top: 20px;
}

.dsmeta-container{
    left: 420px;
}

.dsviacep-container{
    left: 730px;
}

.chess-system-container{
    height: 50%;
    left: 1050px;
}