.profile-container {
    height: 100vh;
}

.nav-profile-content-container{
    display: flex;
    height: 95vh;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.nav-profile-items-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 200px 20px;
}

@media (min-width: 520px){
    .nav-item-bottom-container{
        padding: 0px 45px;
        
    }
}

@media (min-width: 768px){
    .nav-profile-content-container {
        flex-direction: row-reverse;
    }

    .nav-profile-items-container{
        padding: 0px 35px;
    }

    .profile-content-item {
        flex: 1;
        display: flex;
        align-items: last baseline;
        padding-bottom: 80px;
    }

    .profile-text-content-container {
        padding-bottom: 30px;
    }
}

@media (min-width: 1024px) {
    .nav-profile-items-container{
        margin: 0px 40px 0px 75px;
        padding: 0px 20px 0px 40px;
        flex-direction: row;
    }

    .top-nav-bar{
        position: fixed;
        left: 0;
    }

    .profile-content-item {
        align-items: center;
    }

    .profile-text-content-container {
        padding-top: 160px;
        padding-right: 30px;
    }
}

@media (min-width: 1392px) {
    .nav-profile-items-container{
        margin: 200px 100px 0px 100px;
        padding: 0px 80px;
    }

    .profile-text-content-container {
        padding-top: 220px;
    }

    .profile-text-content-container h6{
        font-size: 23px;
    }

    .profile-text-content-container p{
        font-size: 20px;
    }
}

@media (min-width: 2560px) {
    .nav-profile-items-container{
        margin: 0px 200px;
        padding: 0px 200px;
    }

    .profile-text-content-container {
        padding-top: 420px;
    }

    .profile-text-content-container h6{
        font-size: 43px;
    }

    .profile-text-content-container p{
        font-size: 40px;
    }
}

/*.profile-container {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
}

.profile-content-container{
    flex: 1;
    padding: 40px 20px 0px 20px;
}

.profile-text-content-container p{
    font-size: 13px;
}



@media (min-width: 768px){
    .profile-container {
        flex-direction: row-reverse;
        margin: 0px 60px;
        padding: 0px 60px;
    }

    .top-nav-bar{
        position: fixed;
        left: 0;
    }

    .profile-content-container{
        padding-top: 200px;
    }

    .profile-text-content-container{
        margin-bottom: 20px;
    }

    .profile-text-content-container p{
        font-size: 15px;
    }


}

@media (min-width: 1024px){
    .profile-container {
        padding-left: 50px;
    }

    .profile-content-container{
        display: flex;
        align-items: last baseline;
        padding-top: 150px;
    }

    .profile-text-content-container{
        padding-right: 30px;
    }

}

@media (min-width: 1392px) {
    .profile-container {
        padding: 0px 60px;
    }

    .profile-text-content-container p {
        max-width: 500px;
        font-size: 20px;
    }

    .profile-text-content-container h6 {
        font-size: 25px;
    }

    
}

@media (min-width: 1440px){
    .profile-container {
        margin: 0px 80px;
    }

    .profile-content-container{
        padding-top: 350px;
    }
    
}

@media (min-width: 2560px){
    .profile-container {
        margin: 0px 200px;
        padding: 0px 100px;
    }

    .profile-content-container{
        padding-top: 850px;
    }

    .profile-text-content-container {
        flex: 1;
    }

    .profile-text-content-container h6 {
        font-size: 45px;
    }

    .profile-text-content-container p{
        max-width: 1000px;
        font-size: 40px;
    }

    
}*/