.contatos_principal_container{
    margin-top: 100px;
    justify-items: center;
    position: relative;
}

.titulo-contato{
    position: absolute;
    top: 250px;
    
}

.titulo-contato h1{
    font-size: 100px;
}

.forma-de-contato-container{
    position: absolute;
    display: flex;
    align-items: center;
    top: 450px;
}

.contato-item{
    width: 200px;
    height: 200px;
    margin: 0 20px 0 20px;
}