.carouselExampleControls{
    position: relative;
    
}

.carousel-control-prev, .carousel-control-next {
    margin-top: 15px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease-in-out;
    
}

.carousel-control-prev:hover, 
.carousel-control-next:hover {
    background-color: rgb(252, 255, 168, 0.6); 
}

.carousel-control-prev{
    margin-left: 20px;
}

.carousel-control-next{
    margin-right: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 20px;
}

@media (min-width: 425px){

    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 25px;
    }
}

@media (min-width: 768px){

    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 40px;
    }
}

@media (min-width: 1024px){
    .carousel-control-prev{
        margin-left: 80px;
    }
    
    .carousel-control-next{
        margin-right: 80px;
    }
}

@media (min-width: 1440px){
    .carousel-control-prev{
        margin-left: 160px;
    }
    
    .carousel-control-next{
        margin-right: 160px;
    }
}

@media (min-width: 2000px){

    .carousel-control-prev, .carousel-control-next {
        height: auto;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        width: 70px;
        height: 70px;
    }
}