.about-container {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.about-content-container {
    flex: 1;
    padding: 20px 15px;
    text-align: justify;
}

.about-content-container h4, h6 {
    margin: 20px 0px;
}

.photo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.photo-container img{
    height: 300px;
}

.about-me-content-container {
    margin: 20px 0px;
}

.experience-content-container a{
    text-decoration: underline;
}

.skills-content-container p{
    margin-bottom: 5px;
}

@media (min-width: 768px){
    .about-container{
        flex-direction: row-reverse;
    }

    .about-content-container {
        display: flex;
        flex-direction: row-reverse;
        padding: 0px 50px 0px 50px;
    }

    .photo-container {
        margin-left: 20px;
    }

    .about-me-content-container {
        margin-top: 40px;
        padding-top: 60px;
    }

    .back-nav-bar {
        position: fixed;
        left: 0;
    }
}

@media (min-width: 1024px){
    .about-content-container {
        padding: 0px 70px 0px 70px;
    }

    .photo-container {
        margin-left: 40px;
    }

    .photo-container img {
        height: 450px;
    }
}

@media (min-width: 1440px){
    .about-content-container {
        padding: 0px 100px 0px 100px;
    }

    .about-content-container h4 {
        font-size: 40px;
    }

    .about-content-container h6 {
        font-size: 20px;
    }

    .about-content-container p {
        font-size: 20px;
    }

    .photo-container {
        margin-left: 50px;
    }

    .photo-container img {
        height: 550px;
    }

    .about-me-content-container {
        margin-top: 80px;
        padding-top: 100px;
    }
}

@media (min-width: 2560px){
    .about-content-container {
        margin: 40px 0px;
        padding: 0px 180px 0px 180px;
    }
    .about-content-container h4 {
        font-size: 60px;
    }

    .about-content-container h6 {
        font-size: 40px;
    }

    .about-content-container p {
        font-size: 40px;
    }

    .experience-content-container {
        margin-bottom: 40px;
    }

    .skills-content-container {
        margin-bottom: 40px;
    }

    .photo-container {
        margin-left: 70px;
    }

    .photo-container img {
        height: 850px;
    }

    .about-me-content-container {
        margin-top: 140px;
        padding-top: 160px;
    }
}